.whats-button {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #0C5;
    font-size: px;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    padding: 10px;
    width: 220px;
    height: 30px;
    background: #9C6B98;
    border: 1px solid #CD96CD;
    color: #FFF;
    overflow: hidden;
    transition: all 0.3s;
}

.whats-button:hover,
.whats-button:active {
    text-decoration: none;
    color: #9C6B98;
    background: #FFF;
}

.whats-button span {
    display: inline-block;
    position: relative;
    padding-right: 0;
    transition: padding-right 0.3s;
    font-weight: 500;
}

.whats-button span:after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: -7px;
    opacity: 0;
    width: 10px;
    height: 10px;
    margin-top: -6px;
    margin-right: 8px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #9C6B98;
    border-top: none;
    border-right: none;
    transition: opacity 0.3s, top 0.3s, right 0.3s;
    transform: rotate(225deg);
}

.whats-button:hover span,
.whats-button:active span {
    padding-right: 15px;
}

.whats-button:hover span:after,
.whats-button:active span:after {
    transition: opacity 0.3s, top 0.3s, right 0.3s;
    opacity: 1;
    border-color: #9C6B98;
    right: -7px;
    top: 50%;
}