.corner-left {
    position: relative;
}

.corner-left img {
    mix-blend-mode: multiply;
    position: absolute;
    top: -40px;
    left: -170px;
    opacity: 0.4;
}

.corner-decal-left {
    max-width: auto;
    height: 220px;
}

.corner-right {
    position: relative;
}

.corner-right img {
    mix-blend-mode: multiply;
    position: absolute;
    top: -40px;
    right: -170px;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    /*IE*/
    filter: fliph;
    /*IE*/
    opacity: 0.4;
}

.corner-decal-right {
    max-width: auto;
    height: 220px;
}

.hr-header {
    margin-top: 85px;
    margin-bottom: 90px;
    border: none;
    height: 0px;
    color: #d9d9d9;
    background-color: #d9d9d9;
}

.hr-home:after {
    //mix-blend-mode: multiply;
    background-image: url(../img/home-header.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: auto;
    margin: 0 auto;
    content: "";
    display: block;
    height: 140px;
    position: relative;
    top: -70px;
}

.hr-products:after {
    //mix-blend-mode: multiply;
    background-image: url(../img/products-header.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: auto;
    margin: 0 auto;
    content: "";
    display: block;
    height: 140px;
    position: relative;
    top: -70px;
}

.hr-join:after {
    //mix-blend-mode: multiply;
    background-image: url(../img/join-header.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: auto;
    margin: 0 auto;
    content: "";
    display: block;
    height: 140px;
    position: relative;
    top: -70px;
}

.hr-warmers:after {
    //mix-blend-mode: multiply;
    background-image: url(../img/warmers-header.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    max-width: auto;
    margin: 0 auto;
    content: "";
    display: block;
    height: 140px;
    position: relative;
    top: -70px;
}