<% var pageTitle = "Home"; pageId = "home"; pageDescription = ""; %>
    <% include modules/_header %>


        <div id="site" style="max-width: 1400px; margin: 0 auto;">
            <!--<div class="header-img"> </div>-->
            <main class="main text-center" role="main">


                <section class="container-fluid">
                    <div class="intro-text text-center">
                        <h1>Exclusivley Scentsy!</h1>
                    </div>
                    <div class="intro-text text-center">
                        <span>Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu, te quot iuvaret vel, veniam maiestatis eum ne. Cibo forensibus vim ut, cum viris accumsan recteque ad. Sea te option reprimique dissentias. Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu, te quot iuvaret vel, veniam maiestatis eum ne. Cibo forensibus vim ut, cum viris accumsan recteque ad. Sea te option reprimique dissentias. </span>
                    </div>
                </section>
                
                <hr class="hr-seperator">

                <section class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h3>What is Scentsy?</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, facete legimus eam at, ne nam autem honestatis efficiantur. Ea aeterno eruditi mediocritatem qui, simul scribentur his ex, mollis neglegentur ut his. Ne affert eruditi molestie est, audiam accumsan vel ut.</p>
                            </div>
                            <a href="#" class="whats-button">
                                <span>Read More</span>
                            </a>
                        </div>
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h3>What do we Sell?</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, facete legimus eam at, ne nam autem honestatis efficiantur. Ea aeterno eruditi mediocritatem qui, simul scribentur his ex, mollis neglegentur ut his. Ne affert eruditi molestie est, audiam accumsan vel ut.</p>
                            </div>
                            <a href="#" class="whats-button">
                                <span>Read More</span>
                            </a>
                        </div>
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h3>How can I Join?</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, facete legimus eam at, ne nam autem honestatis efficiantur. Ea aeterno eruditi mediocritatem qui, simul scribentur his ex, mollis neglegentur ut his. Ne affert eruditi molestie est, audiam accumsan vel ut.</p>
                            </div>
                            <a href="#" class="whats-button">
                                <span>Read More</span>
                            </a>
                        </div>
                    </div>
                </section>

                <hr class="hr-seperator">

                <section class="container-fluid">
                    <div class="intro-text text-center">
                        <h3>Check my #ExclusivelyScentyTips</h3>
                    </div>
                    <div class="intro-text text-center">
                        <span>Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu. Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu. </span>
                    </div>

                    <div class="row" style="max-width: 800px; margin: 0 auto;">
                        <div class="col-md-6 cold-lg-4 hidden-xs">
                            <center>
                                <div style="padding: 30px; padding-bottom: 0px;" class="fb-post" data-href="https://www.facebook.com/20531316728/posts/10154009990506729/" data-width="350" data-show-text="true">
                                    <blockquote cite="https://www.facebook.com/20531316728/posts/10154009990506729/" class="fb-xfbml-parse-ignore">Posted by <a href="https://www.facebook.com/facebook/">Facebook</a> on&nbsp;<a href="https://www.facebook.com/20531316728/posts/10154009990506729/">Thursday, August 27, 2015</a></blockquote>
                                </div>
                            </center>
                        </div>
                        <div class="col-md-6 cold-lg-4 col-sm-12 hidden-sm hidden-xs">
                            <center>
                                <div style="padding: 30px; padding-bottom: 0px;" class="fb-post" data-href="https://www.facebook.com/20531316728/posts/10154009990506729/" data-width="350" data-show-text="true">
                                    <blockquote cite="https://www.facebook.com/20531316728/posts/10154009990506729/" class="fb-xfbml-parse-ignore">Posted by <a href="https://www.facebook.com/facebook/">Facebook</a> on&nbsp;<a href="https://www.facebook.com/20531316728/posts/10154009990506729/">Thursday, August 27, 2015</a></blockquote>
                                </div>
                            </center>
                        </div>
                    </div>

                </section>

                <hr class="hr-seperator">

                <section class="container-fluid">
                    <div class="intro-text text-center">
                        <h3>Hit that Like Button!</h3>
                    </div>
                    <div class="intro-text text-center">
                        <span>Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu. Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu. </span>
                    </div>
                    <br>
                    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                </section>


            </main>
        </div>


        <% include modules/_footer %>