<% var pageTitle = "Home"; pageId = "home"; pageDescription = ""; %>
    <% include modules/_header %>


        <div id="site" style="max-width: 1400px; margin: 0 auto; visibility: hidden;">
            <!--<div class="header-img"> </div>-->
            <main class="main text-center" role="main">


                <section class="container-fluid">
                    <div class="intro-text text-center">
                        <h1>Exclusivley Scentsy!</h1>
                    </div>
                    <div class="intro-text text-center">
                        <span>Since 2004, Scentsy has grown from a small, family business to a thriving international fragrance company and a leader in the direct selling industry. But some things haven't changed. We still hold true to our core values and a dedication to contribute more than we take in our relationships with our Consultants, customers and the communities where we live and work. </span>
                    </div>
                </section>

                <hr class="hr-seperator">

                <section class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h3>What is Scentsy?</h3>
                                <p>Find out what Scentsy is, Who they are, and how they started their global campaign.</p>
                            </div>
                            <a href="#" class="whats-button">
                                <span>Read More</span>
                            </a>
                        </div>
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h3>What do we Sell?</h3>
                                <p>Scentsy sells a safe wickless candle range, using a heating element, rather then a flame, to gently warm scented wax.</p>
                            </div>
                            <a href="../products" class="whats-button">
                                <span>Read More</span>
                            </a>
                        </div>
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h3>How can I Join?</h3>
                                <p>Sell Scentsy products and enjoy working from home. We are one of the fastest growing direct sales companies!</p>
                            </div>
                            <a href="../join" class="whats-button">
                                <span>Read More</span>
                            </a>
                        </div>
                    </div>
                </section>

                <hr class="hr-seperator">

                <section class="container-fluid">
                    <div class="intro-text text-center">
                        <h3>Check my #ExclusivelyScentyTips</h3>
                    </div>
                    <div class="intro-text text-center">
                        <span>Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu. Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu. </span>
                    </div>

                    <div class="row" style="max-width: 800px; margin: 0 auto;">
                        <div class="col-md-6 cold-lg-4 hidden-xs">
                            <center>

                                <div style="padding: 30px; padding-bottom: 0px;" class="fb-post" data-href="https://www.facebook.com/ExclusivelyScentsy/posts/381139485580601" data-width="500" data-show-text="true">
                                    <blockquote cite="https://www.facebook.com/ExclusivelyScentsy/posts/381139485580601" class="fb-xfbml-parse-ignore">
                                        <p>Choose any of these warmers and 3 wax bars of your choice. This will give you 240 hours plus of home fragrance for only &#xa3;43.65 Love Scentsy sale &#x2764; xx</p>Posted by <a href="https://www.facebook.com/ExclusivelyScentsy/">Exclusively Scentsy</a> on&nbsp;<a href="https://www.facebook.com/ExclusivelyScentsy/posts/381139485580601">Monday, February 6, 2017</a></blockquote>
                                </div>

                            </center>
                        </div>
                        <div style="padding: 30px; padding-bottom: 0px;" class="col-md-6 cold-lg-4 col-sm-12 hidden-sm hidden-xs">
                            <center>
                                <div class="fb-post" data-href="https://www.facebook.com/ExclusivelyScentsy/posts/380060349021848:0" data-width="500" data-show-text="true">
                                    <blockquote cite="https://www.facebook.com/ExclusivelyScentsy/posts/380060349021848:0" class="fb-xfbml-parse-ignore">
                                        <p>Bali head So natural and holistic, encouraging a peaceful and relaxing enviroment And now with 10% off Just &#xa3;35.10</p>Posted by <a href="https://www.facebook.com/ExclusivelyScentsy/">Exclusively Scentsy</a> on&nbsp;<a href="https://www.facebook.com/ExclusivelyScentsy/posts/380060349021848:0">Saturday, February 4, 2017</a></blockquote>
                                </div>
                            </center>
                        </div>
                    </div>

                </section>

                <hr class="hr-seperator">

                <section class="container-fluid">
                    <div class="intro-text text-center">
                        <h3>Hit that Like Button!</h3>
                    </div>
                    <div class="intro-text text-center">
                        <span>Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu. Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu. </span>
                    </div>
                    <br>
                    <div class="fb-like" data-href="https://www.facebook.com/ExclusivelyScentsy/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                </section>


            </main>
        </div>


        <% include modules/_footer %>