<% var pageTitle = "Join"; pageId = "join"; pageDescription = ""; %>
    <% include modules/_header %>


        <div id="site" style="max-width: 1400px; margin: 0 auto;">
            <!--<div class="header-img"> </div>-->
            <main class="main text-center" role="main">


                <section class="container-fluid">
                    <div class="intro-text text-center">
                        <h1>Join My Team!</h1>
                    </div>
                    <div class="intro-text text-center">
                        <span>Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu, te quot iuvaret vel, veniam maiestatis eum ne. Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu, te quot iuvaret vel, veniam maiestatis eum ne.</span>
                    </div>
                </section>

                <hr class="hr-seperator">

                <section class="container-fluid">
                    <div class="intro-text text-center">
                        <h3>Lorem ipsum dolo!</h3>
                    </div>
                    <div class="intro-text text-center">
                        <span>Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu. Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu, te quot iuvaret vel, veniam maiestatis eum ne. </span>
                    </div>
                </section>

                <hr class="hr-seperator">

                <section class="container-fluid">
                    <div class="intro-text text-center">
                        <h3>Facilisis consulatu!</h3>
                    </div>
                    <div class="intro-text text-center">
                        <span>Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu. Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu, te quot iuvaret vel, veniam maiestatis eum ne. </span>
                    </div>
                </section>


            </main>
        </div>


        <% include modules/_footer %>