<% var pageTitle = "Products"; pageId = "products"; pageDescription = ""; %>
    <% include modules/_header %>


        <div id="site" style="max-width: 1400px; margin: 0 auto;">
            <!--<div class="header-img"> </div>-->
            <main class="main text-center" role="main">


                <section class="container-fluid">
                    <div class="intro-text text-center">
                        <h1>My Favorite Scentsy Products!</h1>
                    </div>
                    <div class="intro-text text-center">
                        <span>Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu, te quot iuvaret vel, veniam maiestatis eum ne.</span>
                    </div>
                </section>

                <hr class="hr-seperator">


                <section class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h3>Warmers</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, facete legimus eam at, ne nam autem honestatis efficiantur. Ea aeterno eruditi mediocritatem qui, simul scribentur his ex, mollis neglegentur ut his. Ne affert eruditi molestie est, audiam accumsan vel ut.</p>
                            </div>
                            <a href="../build/warmers.html" class="whats-button">
                                <span>Read More</span>
                            </a>
                        </div>
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h3>Scentsy Bars</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, facete legimus eam at, ne nam autem honestatis efficiantur. Ea aeterno eruditi mediocritatem qui, simul scribentur his ex, mollis neglegentur ut his. Ne affert eruditi molestie est, audiam accumsan vel ut.</p>
                            </div>
                            <a href="#" class="whats-button">
                                <span>Read More</span>
                            </a>
                        </div>
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h3>Kids</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, facete legimus eam at, ne nam autem honestatis efficiantur. Ea aeterno eruditi mediocritatem qui, simul scribentur his ex, mollis neglegentur ut his. Ne affert eruditi molestie est, audiam accumsan vel ut.</p>
                            </div>
                            <a href="#" class="whats-button">
                                <span>Read More</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h3>Diffusers</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, facete legimus eam at, ne nam autem honestatis efficiantur. Ea aeterno eruditi mediocritatem qui, simul scribentur his ex, mollis neglegentur ut his. Ne affert eruditi molestie est, audiam accumsan vel ut.</p>
                            </div>
                            <a href="#" class="whats-button">
                                <span>Read More</span>
                            </a>
                        </div>
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h3>Buddies</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, facete legimus eam at, ne nam autem honestatis efficiantur. Ea aeterno eruditi mediocritatem qui, simul scribentur his ex, mollis neglegentur ut his. Ne affert eruditi molestie est, audiam accumsan vel ut.</p>
                            </div>
                            <a href="#" class="whats-button">
                                <span>Read More</span>
                            </a>
                        </div>
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h3>Packs</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, facete legimus eam at, ne nam autem honestatis efficiantur. Ea aeterno eruditi mediocritatem qui, simul scribentur his ex, mollis neglegentur ut his. Ne affert eruditi molestie est, audiam accumsan vel ut.</p>
                            </div>
                            <a href="#" class="whats-button">
                                <span>Read More</span>
                            </a>
                        </div>
                    </div>
                </section>

                <hr class="hr-seperator">


                <section class="container-fluid">
                    <div class="intro-text text-center">
                        <h3>Lorem ipsum dolor!</h3>
                    </div>
                    <div class="intro-text text-center">
                        <span>Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu. Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu. </span>
                    </div>
                    <br>
                    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                </section>


            </main>
        </div>


        <% include modules/_footer %>