<% var pageTitle = "Products"; pageId = "products"; pageDescription = ""; %>
    <% include modules/_header %>


        <div id="site" style="max-width: 1400px; margin: 0 auto;  visibility: hidden;">
            <!--<div class="header-img"> </div>-->
            <main class="main text-center" role="main">


                <section class="container-fluid">
                    <div class="intro-text text-center">
                        <h1>My Favorite Scentsy Products!</h1>
                    </div>
                    <div class="intro-text text-center">
                        <span>Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu, te quot iuvaret vel, veniam maiestatis eum ne.</span>
                    </div>
                </section>

                <hr class="hr-seperator">


                <section class="container-fluid">
                    <div class="row" style="padding-bottom: 25px;">
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h3>Warmers</h3>
                                <p>Scentsy flameless wax candle warmers come in a variety of sizes. These decorative ornaments are flameless and safe.</p>
                            </div>
                            <a href="../warmers" class="whats-button">
                                <span>Read More</span>
                            </a>
                        </div>
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h3>Scentsy Bars</h3>
                                <p>Refresh your home with Scentsy's authentic wickless candles.</p>
                            </div>
                            <a href="../bars" class="whats-button">
                                <span>Read More</span>
                            </a>
                        </div>
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h3>Kids</h3>
                                <p>Kid-approved! Engage your child's imagination and senses with Scentsy bars for kids!</p>
                            </div>
                            <a href="../kids" class="whats-button">
                                <span>Read More</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h3>Diffusers</h3>
                                <p>Unique and elegant, Scentsy aroma oil diffusers change color and are the perfect decorative piece to have in your home. </p>
                            </div>
                            <a href="../diffusers" class="whats-button">
                                <span>Read More</span>
                            </a>
                        </div>
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h3>Buddies</h3>
                                <p>Buddies make great gifts for children. This scented stuffed animal toy is both cuddly and sweetly scented with Scentsy. Buy a buddy online today!</p>
                            </div>
                            <a href="../buddies" class="whats-button">
                                <span>Read More</span>
                            </a>
                        </div>
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h3>Paks</h3>
                                <p>Packed in a small cloth pack, the scentsy scent pak is the perfect way to fit your favorite fragrance into small spaces.</p>
                            </div>
                            <a href="../paks" class="whats-button">
                                <span>Read More</span>
                            </a>
                        </div>
                    </div>
                </section>

                <hr class="hr-seperator">


                <section class="container-fluid">
                    <div class="intro-text text-center">
                        <h3>Lorem ipsum dolor!</h3>
                    </div>
                    <div class="intro-text text-center">
                        <span>Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu. Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu. </span>
                    </div>
                    <br>
                    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                </section>


            </main>
        </div>


        <% include modules/_footer %>