<% var pageTitle = "Warmers"; pageId = "warmers"; pageDescription = ""; %>
    <% include modules/_header %>


        <div id="site" style="max-width: 1400px; margin: 0 auto;  visibility: hidden;">
            <!--<div class="header-img"> </div>-->
            <main class="main text-center" role="main">


                <section class="container-fluid">
                    <div class="intro-text text-center">
                        <h1>Warmers!</h1>
                    </div>
                    <div class="intro-text text-center">
                        <span>Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu, te quot iuvaret vel, veniam maiestatis eum ne. orem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris. Mei ut facilisis consulatu, te quot iuvaret vel, veniam maiestatis eum ne.<br><br>Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris Lorem ipsum dolor sit amet, ullum docendi menandri mea ex. Timeam discere platonem id nam, ius id stet maluisset persequeris.</span>
                    </div>
                </section>

                <hr class="hr-seperator">

                <section class="container-fluid">
                    <div class="intro-text text-center">
                        <h3>My Top 3 Scentsy Warmers!</h3>
                    </div>
                    <div class="intro-text text-center">
                </section>


                <section class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h4>Blah</h4>
                                <img src="img/<%= pageId %>-fav-1.jpeg" class="scentsy-img">
                                <p>Lorem ipsum dolor sit amet, facete legimus eam at, ne nam autem honestatis efficiantur. Ea aeterno eruditi mediocritatem qui, simul scribentur his ex, mollis neglegentur ut his. Ne affert eruditi molestie est, audiam accumsan vel ut.</p>
                            </div>
                        </div>
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h4>Blah</h4>
                                <img src="img/<%= pageId %>-fav-2.jpeg" class="scentsy-img">
                                <p>Lorem ipsum dolor sit amet, facete legimus eam at, ne nam autem honestatis efficiantur. Ea aeterno eruditi mediocritatem qui, simul scribentur his ex, mollis neglegentur ut his. Ne affert eruditi molestie est, audiam accumsan vel ut.</p>
                            </div>
                        </div>
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h4>Blah</h4>
                                <img src="img/<%= pageId %>-fav-3.jpeg" class="scentsy-img">
                                <p>Lorem ipsum dolor sit amet, facete legimus eam at, ne nam autem honestatis efficiantur. Ea aeterno eruditi mediocritatem qui, simul scribentur his ex, mollis neglegentur ut his. Ne affert eruditi molestie est, audiam accumsan vel ut.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="whats">
                            <a href="../build/products.html" class="whats-button">
                                <span>Back To Products</span>
                            </a>
                        </div>
                    </div>
                </section>



            </main>
            </div>


            <% include modules/_footer %>