<% var pageTitle = "Warmers"; pageId = "warmers"; pageDescription = ""; %>
    <% include modules/_header %>


        <div id="site" style="max-width: 1400px; margin: 0 auto;  visibility: hidden;">
            <!--<div class="header-img"> </div>-->
            <main class="main text-center" role="main">


                <section class="container-fluid">
                    <div class="intro-text text-center">
                        <h1>Warmers!</h1>
                    </div>
                    <div class="intro-text text-center">
                        <span>Our warmers are as easy as 1, 2, 3! Simply plug it in, place one or two cubes of your chosen Scentsy wax in the dish, turn it on and enjoy. In the UK & Europe the warmers use a heating element or light bulb to melt the wax and the element warmers use separate LEDs to light the warmer.
                        </span>
                    </div>
                </section>

                <hr class="hr-seperator">

                <section class="container-fluid">
                    <div class="intro-text text-center">
                        <h3>My Top 3 Scentsy Warmers!</h3>
                    </div>
                    <div class="intro-text text-center">
                </section>


                <section class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h4>Tilia</h4>
                                <img src="img/<%= pageId %>-fav-1.jpeg" class="scentsy-img">
                                <p>The simple, modern shape and glowing porcelain of Tilia allows the stark beauty of a tree in winter to shine through.</p>
                            </div>
                        </div>
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h4>Blah</h4>
                                <img src="img/<%= pageId %>-fav-2.jpeg" class="scentsy-img">
                                <p>Lorem ipsum dolor sit amet, facete legimus eam at, ne nam autem honestatis efficiantur. Ea aeterno eruditi mediocritatem qui.</p>
                            </div>
                        </div>
                        <div class="col-md-4 whats">
                            <div class=" whats-content">
                                <h4>Blah</h4>
                                <img src="img/<%= pageId %>-fav-3.jpeg" class="scentsy-img">
                                <p>Lorem ipsum dolor sit amet, facete legimus eam at, ne nam autem honestatis efficiantur. Ea aeterno eruditi mediocritatem qui.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="whats">
                            <a href="../build/products.html" class="whats-button">
                                <span>Back To Products</span>
                            </a>
                        </div>
                    </div>
                </section>



            </main>
            </div>


            <% include modules/_footer %>