<% var pageTitle = "Whoops"; pageId = "whoops"; pageDescription = ""; %>
    <% include modules/_header %>


        <div id="site" style="max-width: 1400px; margin: 0 auto; visibility: hidden;">
            <!--<div class="header-img"> </div>-->
            <main class="main text-center" role="main">


                <section class="container-fluid">
                    <div class="intro-text text-center">
                        <h1>Whoops, Something went wrong...</h1>
                    </div>
                </section>
                
                <hr class="hr-seperator">
                
                <div style="height: 100vh;"></div>
                
            </main>
        </div>


        <% include modules/_footer %>